
.container {
   width: 95vw;
   margin: 0 auto;
   padding: 1rem 0;

   input {
      display: block;
      width: 100%;
      border: none;
      padding: .5rem;
      background: rgb(218, 222, 218);
      border-radius: 1rem;

      &:focus { outline: none; }

   }
}